* {
    font-family: Roboto, system-ui;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* beginning of section 1 */

.section1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 30%;
    margin: 0;
    padding: 16px 5%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.header-title {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

nav {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.s1-content-container {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.s1-text {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    flex-grow: 1;
    gap: 8px;
}

.s1-hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.s1-body-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
}

.s1-image {
    display: flex;
}

.image-wrapper img {
    width: 100%;
    display: flex;
}

.cover {
    object-fit: contain;
    color: white;
}

/* beginning of section 2 */

.section2 {
    height: 25%;
}

.s2-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu;
    margin-bottom: 40px;
}

.s2-photo-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 32px;
    margin-bottom: 80px;
}

.s2-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    flex-basis: 20%;
}

.s2-photo {
    height: 128px;
    width: 128px;
    background-color: #b5edc2;
    border-radius: 25px;
}

.s2-photo img {
    font-size: 12px;
    text-align: center;
}

.s2-caption {
    display: flex;
    flex-wrap: wrap;
}

.s2-card a {
    color:  black;
    text-align: center;
    gap: 4px;
}
